#edit-product-form{
    display: flex;
    flex-direction: column;
}

#buttons-containers{
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

#submit-edit{
    cursor: pointer;
    margin-right: 0.75em;
    border-radius: 4px;
    border-style: solid;
    border-color: transparent;
}

#submit-edit:active{
    background-color: green;
}

#cancel-submit{
    cursor: pointer;
    margin-right: 0.75em;
    border-radius: 4px;
    border-style: solid;
    border-color: transparent;
}

#cancel-submit:active{
    background-color: red;
}